{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" />
    <title>SantKrupa</title>
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'images/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-origin: content-box;
            height: 100vh;
        }
    </style>

</head>

<body>
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Welcome</h1>
                            <p class="lead">
                                Sign in to your account
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div class="text-center">
                                        <img src="{% static 'images/icon.png' %}" class="img-fluid rounded-circle"
                                            width="132" height="132" />
                                    </div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="input-icon form-group wrap-input">
                                            {% if form.non_field_errors %}
                                            {% for error in form.non_field_errors %}
                                            <div class="text-center text-danger mt-1">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% for fm in form %}
                                            {{fm}} {{fm.errors|striptags}}
                                            {% endfor %}

                                        </div>


                                        <small class="mt-2">
                                            <a href="index.html">Forgot password?</a>
                                        </small>
                                </div>

                                <div class="text-center mt-3">
                                    <input type="submit" class="btn btn-lg btn-primary" value="Login">
                                    <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </main>



</body>

</html>